/* General Style */
h1 {
    color: white;
    text-shadow: 4px 2px 2px black;
}

body {
    background: dimgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    background: white;
    box-shadow: 4px 4px 8px black;
    width: 60vw;
    padding: .8em;
}

form * {
    padding: .2em;
    margin: .1em;
}

.nif-container,
.dob-container,
.role-container,
.gender-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.password-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

input[type=text],
input[type=password] {
    border: 1px solid black;
    height: 40px;
}

/* ID */

/* Date of Birth */

/* Password */

/* #password {
    height: 30px;
} */

.password-input {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

.password-input a {
    justify-self: center;
}

.btn-pass-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-area: 2 / 1 / 3 / 3;
    justify-items: center;
}

.btn-pass-container button {
    justify-self: left;
    height: 35px;
    width: 35px;
}

/* Role and Gender*/
.gender-container {
    grid-area: "label";
}

.gender-container {
    grid-area: "input";
}

img {
    display: none;
    height: 80px;
    width: 80px;
}

.role-input,
.gender-input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-self: left;
}

.role-input input,
.gender-input input {
    justify-self: right;
}

.role-input span,
.gender-input span {
    justify-self: left;
}


.img-container {
    grid-area: 2 / 2 / 3 / 3;
    justify-self: right;
    height: 100px;
    width: 100px;
}

/* Button */
.btn-container {
    display: flex;
    justify-content: center;
}

/* Error */
.error {
    background: tomato;
    border-radius: 4px;
    box-shadow: 4px 4px 4px black;
    display: none;
    color: white;
    text-shadow: 0 0 24x black;
}

.enable {
    display: inline !important;
}